@import "variables.css";

.about-section {
    height: 80vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.dark-mode .about-section {
    background-color: var(--other-purple);
    color: white;
}
.light-mode .about-section {
    background-color: #FFFAEB;
    color: black;
}


/* LIGHT MODE change the slider root color */
.light-mode .MuiSlider-root {
    color: var(--orange) !important;
}
/* DARK MODE change the slider root color */
.dark-mode .MuiSlider-root {
    color: var(--light-purple) !important;
}

/* LIGHT MODE set the slider thumb shadow color (orange), size, and opacity */
.light-mode .MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0 0 0 8px rgba(255, 165, 0, 0.15) !important;
}
.light-mode .MuiSlider-thumb:focus {
    box-shadow: 0 0 0 8px rgba(255, 165, 0, 0.15) !important;
}
.light-mode .MuiSlider-thumb:hover {
    box-shadow: 0 0 0 8px rgba(255, 165, 0, 0.25) !important;
}
.light-mode .MuiSlider-thumb:active {
    box-shadow: 0 0 0 12px rgba(255, 165, 0, 0.25) !important;
}

/* DARK MODE set the slider thumb shadow color (light purple), size, and opacity */
.dark-mode .MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0 0 0 8px rgba(207, 184, 210, 0.2) !important;
}
.dark-mode .MuiSlider-thumb:focus {
    box-shadow: 0 0 0 8px rgba(207, 184, 210, 0.2) !important;
}
.dark-mode .MuiSlider-thumb:hover {
    box-shadow: 0 0 0 8px rgba(207, 184, 210, 0.3) !important;
}
.dark-mode .MuiSlider-thumb:active {
    box-shadow: 0 0 0 12px rgba(207, 184, 210, 0.3) !important;
}

/* LIGHT MODE change the color of the slider text labels */
.light-mode .bio-slider .MuiSlider-markLabel {
    color: black !important;
}
/* DARK MODE change the color of the slider text labels */
.dark-mode .bio-slider .MuiSlider-markLabel {
    color: white !important;
}




.contact-section {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.pic-section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1.25;
    height: 500px;
}

.bio {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2.25;
    align-items: center;
    height: 500px;
    padding-top: 50px;
}

#headshot-pic {
    width: 100%;
}

.button {
    background-color: var(--light-yellow);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.button:hover {
    background-color: var(--light-orange);
    transform: scale(1.05);
    transition-duration: 0.5s;
  }

  #slider-container {
    padding-bottom: 50px;
  }