@import "variables.css";

.about-section {
    height: 80vh;
    padding-top: 50px;
}

.dark-mode .about-section {
    background-color: var(--other-purple);
    color: white;
}
.light-mode .about-section {
    background-color: var(--orange);
    color: black;
}