#headshot-pic {
    width: 100%;
}

.contact-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2.25;
    align-items: center;
    height: 61vh;
    padding-top: 50px;
}

.contact-page {
    margin-top: 10vh;
}

.contact-page-row {
    padding-left: 5vw;
    padding-right: 5vw;
}

#contact-header {
    font-size: 3.5em;
    padding-bottom: 20px;
    padding-left: 70px;
}
.light-mode #contact-header {
    color: black;
}
.dark-mode #contact-header{
    color: black;
}