#headshot-pic {
    width: 100%;
}

.contact-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2.25;
    align-items: center;
    height: 61vh;
    padding-top: 50px;
}

.contact-page {
    margin-top: 10vh;
}

.contact-page-row {
    padding-left: 5vw;
    padding-right: 5vw;
}